@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    font-family: "Lexend", sans-serif;
}

.fira-sans{
    font-family: "Fira Sans", sans-serif;
}

.lexend{
    font-family: "Lexend", sans-serif;
}